<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My eBay App</title>
    <!-- Include your CSS styles if needed -->
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <!-- Add HTML elements for your UI components -->
    <div id="app">
        <model-viewer src="https://uploads-ssl.webflow.com/653ab5a69e0276865693d972/654ff1899a567cbce5f99a8a_head-scissors.glb.txt" ar ar-modes="webxr scene-viewer quick-look" camera-controls poster="poster.webp" shadow-intensity="1" exposure="1" camera-target="0m 0.000945m 0m" min-camera-orbit="auto 0deg auto" max-camera-orbit="auto 70deg auto" camera-orbit="-170.03deg 70deg 0.2262m" auto-rotate interaction-prompt="none" disable-tap disable-zoom field-of-view="9.4deg">
            <button class="Hotspot" slot="hotspot-1" data-position="-0.06057639027678644m -0.011763206861573916m 0.006993319758623859m" data-normal="0.09621570001687521m 0.9904541999086564m 0.09870672192695953m" data-visibility-attribute="visible"  >
                <div class="HotspotAnnotation">Ultimaker 5s</div>
            </button><button class="Hotspot" slot="hotspot-2" data-position="-0.009913584817277943m -0.010658402484498316m 0.016547090321416484m" data-normal="-0.6733615767019682m -0.734730917025384m 0.08218677867198527m" data-visibility-attribute="visible">
                <div class="HotspotAnnotation">0.2 MM</div>
            </button><button class="Hotspot" slot="hotspot-6" data-position="-0.036693392787550794m 0.0013436435657805347m -0.002597948449144209m" data-normal="-0.1045033331947m 0.987440310142304m -0.11849340596534458m" data-visibility-attribute="visible">
                <div class="HotspotAnnotation">15% Infill</div>
            </button><button class="Hotspot" slot="hotspot-8" data-position="0.010090073567390813m 0.0072967860802809386m 0.023329130074419526m" data-normal="0.20585571293528387m 0.8254655047324164m 0.525575994456333m" data-visibility-attribute="visible">
                <div class="HotspotAnnotation">5% Infill</div>
            </button><button class="Hotspot" slot="hotspot-9" data-position="-0.012161701100623938m -0.0018172190209740022m -0.013797572002207152m" data-normal="-0.6379719459277108m 0.7655612087056434m -0.08311336796427189m" data-visibility-attribute="visible">
                <div class="HotspotAnnotation">5 Walls</div>
            </button>
        </model-viewer>
      </div>

    <!-- Include your JavaScript file -->
    <script src="main.js"></script>
</body>
</html>
